body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 0px;
}


tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

caption {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

input {
    width : 60%;
}

#searchbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width : fit-content;
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
    border-radius: 15px;
}