<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>About us</h1>
<p>
Where a search engine for local authentic food in NE1,
    searching for specific items across  hundreds of menus for a perfect taste of Newcastle.
    Want a Saveloy Dip, Stottie Cake, Parmo or any other authentic scran?
    Search now!
</p>
<h1>Who we are</h1>
<p>
Were a team of collage students in Newcastle, please employ us!
    please employ us! please employ us! please employ us! please employ us!
</p>

<h1>Our pitch to business</h1>
<p>
    In NE1 x% of restaurant customers are tourists and our app is primarily for tourists. tourists don't use just eat, deliveroo ect becuase they don't have an address they just use Google maps, and Google maps will show chain restaurants above what Newcastle actually has to offer.

we sell what tourists love, authenticity

what do we need from you?
a photo of your menu no delivery drivers flooding your restaurants, no competing in a sea of chain restaurant

our ABCs

NO AI,
NO Bullsh*t - edgey safe corporate flair
NO Chains,
just great food


we don't accept chain restaurants, we don't promote chain restaurants we promote the best look food, we promote you

</p>
</body>
</html>