<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scran</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <H1>Welcome to scranIT!</H1>
    <form method="POST">
      <input name="text" placeholder="What are you scranning for?" style="length: 150px;">
      <button type="submit">Search NE1</button>
  </form>
    <table>
            <caption>Results for: {{text}}</caption>
            <th>Restraunt</th>
            <th>Food</th>
            <th>Price</th>
            <th>Location</th>
            {% for result in result%}
            <tr>
                <td>
                    <img src="{{ result['Image'] }}" alt="{{ result['Restaurant']}} Logo" width="75">
                    {{ result['Restaurant']}}
                </td>
                <td>
                    <h3>{{ result['Item']}}</h3>
                    <p>{{ result['Description']}}</p>
                </td>
                <td>{{ result['Price']}}</td>
                <td>{{ result['Postcode']}} , {{ result['StreetAddress']}}</td>
                {% endfor %}
            </tr>
        </table>
    <script src="index.js"></script>
  </body>
</html>