<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scran</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <H1>Welcome to scranIT!</H1>
    <form action="/search" method="POST", id="searchbox">
      <input name="text" placeholder="What are you scranning for?">
        <select name="sortBy">
            <option value="Relevance">Relevance</option>
            <option value="PriceLTH">Price, Low to High</option>
            <option value="PriceHTL">Price, High to Low</option>
    </select>
        <button type="submit">Search NE1</button>
  </form>
    <table>
            <caption>Results for: {{text}} in NE1</caption>
            <th>Restraunt</th>
            <th>Food</th>
            <th>Price</th>
            <th>Location</th>
            {% for result in result%}
            <tr>
                <td>
                    <h4>{{ result['Restaurant']}}</h4>
                    <img src="{{ result['Image'] }}" alt="{{ result['Restaurant']}} Logo" width="75">
                </td>
                <td>
                    <h3>{{ result['Item']}}</h3>
                    <p>{{ result['Description']}}</p>
                </td>
                <td>{{ result['Price']}}</td>
                <td>
                    <p>{{ result['Postcode']}}, {{ result['StreetAddress']}}    </p>
                    <a href="https://www.google.com/maps/search/?api=1&query={{ (result['Restaurant'] ~ ' ' ~ result['StreetAddress'] ~ ' ' ~ result['Postcode']) | urlencode }}" target="_blank" rel="noopener noreferrer">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDU1sL0vmcpPZfHKaZctSPz2LRUJHtpoIIgdPp7_0vjg&s=10" alt="View on google maps" width="50">
                    </a>
                </td>
                {% endfor %}
            </tr>
        </table>
    <script src="index.js"></script>
  </body>
</html>